
h2{
    background-color: palevioletred;
    font-family:$font2;
    text-align: center;
    padding: 3px;
    border: solid 2px $color2;
    font-size: 50px;

}
p{
    color:$color3;
    font-size: 20px;
    text-decoration: double;
    margin: 3px;


}
footer{
    background-color: $color3;
    text-align: center;
    padding: 4px;

}